
@model RKE.WebUI.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

    <div class="product-page">
        <div class="form-holder">
            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)
                <h3>Register</h3>
                <span>Login</span>
                <input type="text" name="UserName">
                <span>Contact phone</span>
                <input type="tel" name="PhoneNumber">
                <span>Contact E-mail</span>
                <input type="e-mail" name="Email">
                <span>Password</span>
                <input type="password" name="Password">
                <span>Conform password</span>
                <input type="password" name="PasswordConfirm">
                <input type="submit" value="Send" name="">
            }
        </div>
    </div>

