@model IEnumerable<CiRent.BL.Entities.MainPageCategoryModel>


 <div class="main-category-holder">
                                @foreach (var item in Model)
                                {
                                <a class="main-category" href="~/Home/Category/@item.IdOfCategory">
                                        <img src="~/Images/Categories/@item.PhotoPath" alt="">
                                        <div class="filter"></div>
                                        <p class="main-category-description">
                                            @item.NameOfCategory
                                        </p>
                                </a>
                                }
</div>
<script>
    $(window).resize(function () {
        resetMainCategry();
    });
    $(document).ready(function () {
        resetMainCategry();
    });
    function resetMainCategry() {
        var height = parseFloat(document.documentElement.clientHeight) - parseFloat($("header").css("height")) + "px";
        $(".main-category-holder").css("height", height);
    }
</script>