@model IEnumerable<CiRent.BL.Entities.MainPageCategoryModel>
<script>
    $(window).resize(function () {
        resetMainCategry();
    });

    function resetMainCategry() {
        var height = parseFloat(document.documentElement.clientHeight) - parseFloat($("header").css("height")) + "px";
        $(".main-category-holder").css("height", height);
    }
</script>
    @foreach (var item in Model)
    {
        <a href="~/Home/Category/@item.IdOfCategory">
            <div class="main-category-holder">
                <div class="main-category">
                    <img src="~/Images/@item.PhotoPath" alt="">
                    <div class="filter"></div>
                    <p class="main-category-description">
                        @item.NameOfCategory
                    </p>
                </div>
            </div>
        </a>
    }