@model CiRent.BL.Entities.ProductModel
<div class="product-page">
    <div class="product-info">
        <h4 class="product-name">@Model.NameOfItem</h4>
        <div class="product-container">
            <div class="product-left">
                <img class="product-img" src="~/Images/@Model.PhotoPath" alt="">
            </div>
            <div class="product-right">
                <form class="add-to-cart-form">
                    <h3 class="add-to-cart-label">
                        Select rent period</h3>
                        <span class="rent-label">Rent beginning:</span>
                        <input class="rent-date" type="date" name="">
                        <span class="rent-label">Rent ending:</span>
                        <input class="rent-date" type="date" name="">
                        <input type="submit" value="Add to cart" name="">
                </form>
                <p class="product-description">@Model.Description</p>
            </div>
        </div>
    </div>
    @*<div class="see-also-holder accordion-container">


        <div class="set">
            <a href="#">
                <span class="order-date"> See also </span>
            </a>
            <div class="content">
                <div class="product-list">
                    <div class="product-link">
                        <img src="img/camera.jpg" alt="">
                        <span class="product-link-name">Long long product name</span>
                        <span class="product-link-price">228<sup>50</sup>$</span>
                    </div>
                    <div class="product-link">
                        <img src="img/camera.jpg" alt="">
                        <span class="product-link-name">Long long</span>
                        <span class="product-link-price">228<sup>50</sup>$</span>
                    </div>
                    <div class="product-link">
                        <img src="img/camera.jpg" alt="">
                        <span class="product-link-name">Long long</span>
                        <span class="product-link-price">228<sup>40</sup>$</span>
                    </div>
                    <div class="product-link">
                        <img src="img/camera.jpg" alt="">
                        <span class="product-link-name">Long long product name</span>
                        <span class="product-link-price">228<sup>30</sup>$</span>
                    </div>
                    <div class="product-link">
                        <img src="img/camera.jpg" alt="">
                        <span class="product-link-name">Long long product name</span>
                        <span class="product-link-price">228<sup>20</sup>$</span>
                    </div>
                    <div class="product-link">
                        <img src="img/camera.jpg" alt="">
                        <span class="product-link-name">Long long product nameLong long product name</span>
                        <span class="product-link-price">228<sup>20</sup>$</span>
                    </div>
                    <div class="product-link">
                        <img src="img/camera.jpg" alt="">
                        <span class="product-link-name">Long long product name</span>
                        <span class="product-link-price">228<sup>50</sup>$</span>
                    </div>
                    <div class="product-link">
                        <img src="img/camera.jpg" alt="">
                        <span class="product-link-name">Long long</span>
                        <span class="product-link-price">228<sup>--</sup>$</span>
                    </div>
                    <div class="product-link">
                        <img src="img/camera.jpg" alt="">
                        <span class="product-link-name">Long long product name</span>
                        <span class="product-link-price">228<sup>--</sup>$</span>
                    </div>
                    <div class="product-link">
                        <img src="img/camera.jpg" alt="">
                        <span class="product-link-name">Long long product nameLong long product nameLong long product name</span>
                        <span class="product-link-price">228<sup>10</sup>$</span>
                    </div>
                    <div class="product-link">
                        <img src="img/camera.jpg" alt="">
                        <span class="product-link-name">Long long product name</span>
                        <span class="product-link-price">228<sup>--</sup>$</span>
                    </div>
                    <div class="product-link">
                        <img src="img/camera.jpg" alt="">
                        <span class="product-link-name">Long long product name</span>
                        <span class="product-link-price">228<sup>00</sup>$</span>
                    </div>
                    <div class="product-link">
                        <img src="img/camera.jpg" alt="">
                        <span class="product-link-name">Long long product name</span>
                        <span class="product-link-price">228<sup>00</sup>$</span>
                    </div>
                    <div class="product-link">
                        <img src="img/camera.jpg" alt="">
                        <span class="product-link-name">Long long product name</span>
                        <span class="product-link-price">228<sup>00</sup>$</span>
                    </div>
                </div><!--product-list-->

            </div><!-- content -->
        </div><!-- set -->


    </div>*@
</div>