@model IEnumerable<CiRent.BL.Entities.SidebarCategoriesModel>
<div class="sidebar">
    <button id="sort_by_price" class="sort"><span>Sort by price</span><img src="img/triangle.svg" alt=""></button>

    <button id="sort_by_name" class="sort"><span>Sort by name</span><img src="img/triangle.svg" alt=""></button>

    <ul class="categories">
        @foreach (var item in Model)
        {
            <a href="~/Home/category/@item.Id?page=0"><li class="category">@item.Name<img src="~/Images/checked.svg" alt=""></li></a>
        }
    </ul>
</div>