<div class="sidebar">
    <button id="sort_by_price" class="sort"><span>Sort by price</span><img src="img/triangle.svg" alt=""></button>

    <button id="sort_by_name" class="sort"><span>Sort by name</span><img src="img/triangle.svg" alt=""></button>

    <ul class="categories">
        <li class="category">Category category<img src="img/checked.svg" alt=""></li>
        <li class="category">Category category<img src="img/checked.svg" alt=""></li>
        <li class="category">Category category<img src="" alt=""></li>
        <li class="category">Category category<img src="img/checked.svg" alt=""></li>
    </ul>
</div>